Q. Explain the list methods sort(), copy(), index(), count(), min(), max(), reverse() with an example each.

In [37]:
numbers = [4, 1, 3, 2,]
list_2=[1,6,7,1,8,3,3,1,'car','car','bike','himalayas']
numbers.sort()
print('1 )',numbers)  
copied_list=numbers.copy()
print('2 )',copied_list)
print('index of 4 in numbers = ',numbers.index(3))
print('count of car in the list =',list_2.count('car'))
print('count of 1 in the list =',list_2.count(1))
print('smallest number in the numbers =',min(numbers))
print('highest number in the numbers =',max(numbers))
numbers.reverse()
list_2.reverse()
print('reversed numbers =',numbers)
print('reversed list= ',list_2)

1 ) [1, 2, 3, 4]
2 ) [1, 2, 3, 4]
index of 4 in numbers =  2
count of car in the list = 2
count of 1 in the list = 3
smallest number in the numbers = 1
highest number in the numbers = 4
reversed numbers = [4, 3, 2, 1]
reversed list=  ['himalayas', 'bike', 'car', 'car', 1, 3, 3, 8, 1, 7, 6, 1]

Q. Explain the difference between remove() and discard() functions in sets with an example each.

In [41]:
set_1={1,2,3,4,5}
set_1.remove(1)
set_1

{2, 3, 4, 5}

In [42]:
set_1.remove(1)
set_1

KeyError: 1

In [ ]:
set_1.discard(4)
set_1

{2, 3, 5}

In [44]:
set_1.discard(10)
set_1

{2, 3, 5}

Q. Explain the set methods: issubset(), issuperset(), isdisjoint(), union(), intersection(), difference(), symmetric_difference(), intersection_update(), difference_update(), symmetric_difference_update()

In [45]:
A = {1, 2}
B = {1, 2, 3, 4}
print(A.issubset(B))  
print(B.issubset(A))

True
False

In [46]:

print(A.issuperset(B)) 
print(B.issuperset(A))

False
True

In [55]:
A = {1, 2}
B = {3, 4}
print(A.isdisjoint(B))  
C = {2, 3}
print(A.isdisjoint(C))  
print(B.isdisjoint(C)) 
#no common element
D=A.union(B)
print('D is ',D)
print('intersection of A and C is',A.intersection(C))
print('difference of A and C is',A.difference(C))
print('difference of C and A is',C.difference(A))
print('difference of A and B is',A.difference(B))

True
False
False
D is  {1, 2, 3, 4}
intersection of A and C is {2}
difference of A and C is {1}
difference of C and A is {3}
difference of A and B is {1, 2}

Q. Create the list a = [4, 7, 12, -3, 6, 12, 0]. Find the length of the list and sort the list in 
descending order.

In [59]:
List_A=[4,7,12,-3,6,12,0]
print('length =',len(List_A))
sorted_A=sorted(List_A,reverse=True)
print(sorted_A)

length = 7
[12, 12, 7, 6, 4, 0, -3]

Q. Create a list fruits = [‘mango’, ‘apple’, ‘cherry’, ‘grapes’]. Add an element ‘banana’ after 
the element ‘apple’.

In [60]:
Fruits=['mango','apple','cherry','grapes']
index_apple=Fruits.index('apple')
Fruits.insert(index_apple+1,'banana')
print(Fruits)

['mango', 'apple', 'banana', 'cherry', 'grapes']

Q. Create the list my_list = [9, 23, 17, 8, 10, 45, 12, 14, 76]. Add an element 5 to the end of 
the list. Remove the element 76 from the list.

In [63]:
my_list=[9,23,17,8,10,45,12,14,76]
my_list.append(111)
print(my_list)
my_list.remove(76)
print(my_list)

[9, 23, 17, 8, 10, 45, 12, 14, 76, 111]
[9, 23, 17, 8, 10, 45, 12, 14, 111]

Q. Create the list numbers = [2,67,12,8,9,23,48,10]. Find the minimum and maximum 
value from the list. Also find the sum of elements of this list.

In [ ]:
numbers=[2,67,12,8,9,23,48,10]
print('max',max(numbers))
print('min',min(numbers))
print('sum',sum(numbers))

max 67
min 2
sum 179

Q. Write a program to append a list [10,20,30,40] to another list [‘cat’, ‘dog’, ‘lion’, ‘panda’].

In [66]:
List_1=[10,20,30,40]
list_2=['cat','dog','lion','panda']
result=list_2+List_1
print(result)
List_1.extend(list_2)
print(List_1)

['cat', 'dog', 'lion', 'panda', 10, 20, 30, 40]
[10, 20, 30, 40, 'cat', 'dog', 'lion', 'panda']